body { 
    background-color: #e4cfba;
}

.cabecalho{
    background-color: #51612b;
    color: whitesmoke;
    padding-top: 30px;
    padding-bottom: 30px;
    font-size: 35px;
    padding: 20px;
    text-align: center;
    display: flex;
    justify-content: center;
    gap: 30%;
}

#titulo {
    font-size: 30px;
    text-align: center;
}

.imgcentro {
    width: 700px;
	height: 500px;
    align-items: center;
    border-radius: 30px;
    object-fit: cover;
    margin: 0 40em;
    border: 5px solid #795f45;
    
}



.menu{
    display: inline-block;
    font-size: 35px;

}

li a{
    font-size: 30px;

}

button{
    font-size: 20px;
    color: rgb(255, 255, 255);
    background-color: #51612b;
    padding: 30px 60px;
    display: block;
	margin: 10px auto;
    border-radius: 20px;

}

footer{
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #51612b;
    color: whitesmoke;
    font-size: 20px;
}

.texto{
    text-align: center;
    padding: 50px;
    font-size: 25px;
}

.imgindex{
    width: 300px;  /* Define uma largura fixa (pode ser ajustada) */
    height: 300px;  /* Define uma altura fixa e igual à largura */
    border-radius: 50%;  /* Transforma o elemento em um círculo/oval */
    object-fit: cover;  /* Garante que a imagem preencha o círculo sem distorção, cortando as bordas extras, se necessário */
    display: inline-block;  /* Garante que a imagem se comporte como um bloco para centralização básica se necessário */
    border: 5px solid #795f45;  /* Borda opcional */
    margin: 50px;
    align-items: center;
    margin-top: 90px;
}
