body { 
    background-color: #e4cfba;
}

.cabecalho{
    background-color: #51612b;
    color: whitesmoke;
    padding-top: 30px;
    padding-bottom: 30px;
    font-size: 25px;
    padding: 20px;
    text-align: center;
    display: flex;
    justify-content: center;
    gap: 30%;
}

#titulo {
    font-size: 30px;
    text-align: center;
}

p {
    font-size: 20px;
}

.imgcentro {
    width: 700px;
	height: 500px;
    text-align: center;
}

nav{

}

li{
    display: inline-block;
    font-size: 15px;

}

li a{
    font-size: 50px;

}

button{
    font-size: 20px;
    color: rgb(255, 255, 255);
    background-color: #51612b;
    padding: 30px 60px;
    display: block;
	margin: 10px auto;
}


