body { 
    background-color: #b3906d;
}

.cabecalho{
    background-color: rgb(0, 0, 0);
    color: whitesmoke;
    padding-top: 30px;
    padding-bottom: 30px;
    font-size: 25px;
    padding: 20px;
    text-align: center;
    display: flex;
    justify-content: center;
    gap: 30%;
}

#titulo {
    font-size: 30px;
}

p {
    
}

.imgcentro {

}

nav{

}

li{
    display: inline-block;
    font-size: 15px;

}

li a{
    font-size: 50px;

}

button{
    font-size: 16px;
    color: rgb(255, 0, 132);

}

